.h4 {
    /* translate: -50% -50%; */
    margin: 0;
    /* font-size: clamp(6rem, 8vw + 1rem, 14rem); */
    font-family: "Geist", sans-serif;
    font-weight: 140;
    color: hsl(0 0% 2%);
    mix-blend-mode: soft-light;
  /*   -webkit-text-stroke: 2px hsl(0 0% 100% / 0.95); */
    filter: drop-shadow(0 0 2px white);
    text-shadow: 2px 2px white;
  }